requests==2.32.3
fastapi==0.115.4
pydantic==2.9.2
python-dotenv==1.0.1
uvicorn==0.32.0
jinja2==3.1.4
PyMuPDF==1.24.13
faiss-cpu==1.9.0
python-multipart==0.0.17
environ-config==23.2.0
langchain-community==0.3.4
langchain_google_genai==2.0.4
google-generativeai==0.8.3
pypdf==5.1.0
psycopg2-binary==2.9.10
sqlalchemy==2.0.36
